@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #1b1b1b;
}
.main{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.castle{
    color: rgb(172, 172, 172);
    font-size: 12px;
    position: absolute;
    text-align: center;
    position: relative;
    display: grid;
}
button{
    background-color: #525151;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border .5s, background-color .2s, color .5s;
}
button:hover{
    background-color: #1b1b1b;
    color: rgb(172, 172, 172);
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;
}